body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #4e54c8, #8f94fb);
    font-family: 'Arial', sans-serif;
    color: #333;
}

.button-group {
    margin-bottom: 20px;
}

.button-group button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #4e54c8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-group button:hover {
    background-color: #8f94fb;
}

.container {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    display: none;
}

.container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-container input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.2s;
}

.form-container input:focus {
    border-color: #4e54c8;
    outline: none;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #4e54c8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: #8f94fb;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4e54c8;
    color: #ffffff;
}

tr:hover {
    background-color: #f1f1f1;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.error {
    border-color: red;
}
